h3 {
    margin-bottom: 0.5rem;
    color: #109097;
}

section {
    width: 100%;
    font-size: 1rem;
    margin-bottom: var(--theme-gap);

}

.sectionInfo {

    .svgIcon {
        margin: 0;
        color: var(--color-primary)
    }
}

.sectionHeader {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .status {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .statusInfo {
        font-size: 0.8rem;
        font-weight: normal;
        margin-right: 0.5rem;

        .connected {
            &::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: var(--color-success);
                border-radius: 50%;
                margin: 0 2px 0 5px;
            }
        }

        .disconnected {
            &::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: var(--color-error);
                border-radius: 50%;
                margin: 0 5px 0 2px;
            }
        }
    }
}

.sectionTable {
    .filterGroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        font-size: 0.8rem;
        padding: 0.5rem 0;

        select {
            padding: 0.3rem 0.6rem;
            margin-left: 0.5rem;
            color: inherit;
            background-color: var(--color-white);
            font-family: inherit;
            border: 2px solid var(--color-primary);
            border-radius: var(--theme-border-radius);
        }
    }
}

.sectionDebug {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--theme-gap);
    font-size: 0.8rem;
}

.sectionCharts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--theme-gap);

    .chartContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .chartWrapper {
            width: 100%;
            height: 200px;
            max-height: 200px;
            padding: var(--theme-gap);
            border-radius: var(--theme-border-radius);
            border: 1px solid var(--theme-border-color);

            canvas {
                width: 100% !important;
                height: 200px;
                max-height: 200px;
                border: none;
            }

        }

    }
}


canvas {
    border: 1px solid var(--color-primary);
}